<div class="container ">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 text-center">
      <div class="btns-margin-top">
      <%= link_to "Employee List", employees_path, :method => :get, :class=>"btn btn-primary btn-lg btn-lg-padding" %>
      </div>
      <div class="btns-margin-top">
        <a href="#s" class="btn btn-warning btn-lg btn-lg-padding">Project List</a>
      </div>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>
