<!--Content Area-->
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <!--Create Button trigger modal -->
      <div class="well-sm pull-right">
        <a href="#" class="btn btn-warning">New</a>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
<div class="row">
  <!--List View column -->
  <div class="col-sm-5 event-section-height">
    <p class="for_empty_list">Employee records not found</p>
  </div>
  <!--Show View item -->
  <div class="col-sm-7">
    <div class="row">
      <div class="col-sm-12">
        <div class="well">
          <p class="for_empty_list">Nothing to display</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>